<section data-aos="fade" id="fromto" class="flex flex-col justify-center my-[var(--xxl)]">
  <!-- default -->
  <div id="fromto-default" class="sm:hidden md:hidden lg:hidden xl:hidden flex flex-col items-center py-12 gap-[var(--lg)]">
    <div class="flex flex-col justify-center w-fit">
      <span data-aos="fade-down" class="font-bold text-[36px] leading-[60px]">De <span class="text-[var(--primary)]">República Dominicana</span> Para El <span class="text-[var(--primary)]">Mundo</span></span>
    </div>
    <div data-aos="fade-left" class="flex flex-row justify-center w-[250px] h-[250px] rounded-[10px]" style={{backgroundImage: `url("/src/views/aboutus/FromTo/assets/1.png")`, backgroundSize: "cover", backgroundPosition: "center"}}></div>
    <div class="relative flex flex-col w-full h-full">
      <span id="fromto-default-text-1" class="absolute font-medium text-[14px] leading-[27px] text-justify">Krekeet es una agencia de comunicación digital especializada en diseño de experiencia del usuario con base en la República Dominicana y socios estratégicos en Latinoamérica, USA, Europa y Asia.</span>
      <span id="fromto-default-text-2" class="font-medium text-[14px] leading-[27px] text-justify">Logrando avances con clientes internacionales y nacionales destacando, desarrollando estrategias y productos los cuales nos han permitido destacar en el mercado y lograr el éxito de nuestros clientes. Cada día nuestro equipo muestra lo mejor de su talento, pasión y eso de hacer las cosas mejor que los demás.</span>
    </div>
  </div>

  <!-- sm -->
  <div id="fromto-sm" class="hidden sm:flex md:hidden flex-col items-center py-12 gap-[var(--lg)]">
    <div class="flex flex-col justify-center w-fit">
      <span data-aos="fade-down" class="font-bold text-[41px] leading-[59px]">De <span class="text-[var(--primary)]">República Dominicana</span> Para El <span class="text-[var(--primary)]">Mundo</span></span>
    </div>
    <div data-aos="fade-left" class="flex flex-row justify-center w-[400px] h-[400px] rounded-[10px]" style={{backgroundImage: `url("/src/views/aboutus/FromTo/assets/1.png")`, backgroundSize: "cover", backgroundPosition: "center"}}></div>
    <div class="relative flex flex-col w-full h-full">
      <span id="fromto-sm-text-1" class="absolute font-medium text-[18px] leading-[30px] text-justify">Krekeet es una agencia de comunicación digital especializada en diseño de experiencia del usuario con base en la República Dominicana y socios estratégicos en Latinoamérica, USA, Europa y Asia.</span>
      <span id="fromto-sm-text-2" class="font-medium text-[18px] leading-[30px] text-justify">Logrando avances con clientes internacionales y nacionales destacando, desarrollando estrategias y productos los cuales nos han permitido destacar en el mercado y lograr el éxito de nuestros clientes. Cada día nuestro equipo muestra lo mejor de su talento, pasión y eso de hacer las cosas mejor que los demás.</span>
    </div>
  </div>

  <!-- md -->
  <div id="fromto-md" class="hidden md:flex lg:hidden flex-col items-center py-12 gap-[var(--lg)]">
    <div class="flex flex-col justify-center w-fit">
      <span data-aos="fade-down" class="font-bold text-[46px] leading-[59px]">De <span class="text-[var(--primary)]">República Dominicana</span> Para El <span class="text-[var(--primary)]">Mundo</span></span>
    </div>
    <div data-aos="fade-left" class="flex flex-row justify-center w-[550px] h-[550px] rounded-[10px]" style={{backgroundImage: `url("/src/views/aboutus/FromTo/assets/1.png")`, backgroundSize: "cover", backgroundPosition: "center"}}></div>
    <div class="relative flex flex-col w-full h-full">
      <span id="fromto-md-text-1" class="absolute font-medium text-[22px] leading-[33px] text-justify">Krekeet es una agencia de comunicación digital especializada en diseño de experiencia del usuario con base en la República Dominicana y socios estratégicos en Latinoamérica, USA, Europa y Asia.</span>
      <span id="fromto-md-text-2" class="font-medium text-[22px] leading-[33px] text-justify">Logrando avances con clientes internacionales y nacionales destacando, desarrollando estrategias y productos los cuales nos han permitido destacar en el mercado y lograr el éxito de nuestros clientes. Cada día nuestro equipo muestra lo mejor de su talento, pasión y eso de hacer las cosas mejor que los demás.</span>
    </div>
  </div>

  <!-- lg -->
  <div id="fromto-lg" class="hidden lg:flex xl:hidden flex-row justify-between gap-[var(--xxl)] relative">
    <div data-aos="fade-right" class="flex flex-row justify-center min-w-[450px] min-h-[400px] rounded-[10px]" style={{backgroundImage: `url("/src/views/aboutus/FromTo/assets/1.png")`, backgroundSize: "cover", backgroundPosition: "center"}}></div>
    <div class="flex flex-row w-full items-center">
      <div id="fromto-lg-text-1" class="absolute flex flex-col justify-center gap-[var(--xl)]">
        <span data-aos="fade-down" class="font-semibold text-[51px] leading-[58px]">De <span class="text-[var(--primary)]">República Dominicana</span> Para El <span class="text-[var(--primary)]">Mundo</span></span>
        <p data-aos="fade-up" class="font-medium text-[26px] leading-[36px] text-justify">Krekeet es una agencia de comunicación digital especializada en diseño de experiencia del usuario con base en la república dominicana y socios estratégicos en latinoamérica, uSA, Europa y Asia.</p>
      </div>
      <div id="fromto-lg-text-2" class="absolute flex flex-col justify-center" style={{opacity: 0}}>
        <p data-aos="fade-up" class="font-medium text-[26px] leading-[36px] text-justify">Logrando avances con clientes internacionales y nacionales destacando, desarrollando estrategias y productos los cuales nos han permitido destacar en el mercado y lograr el éxito de nuestros clientes. Cada día nuestro equipo muestra lo mejor de su talento, pasión y eso de hacer las cosas mejor que los demás.</p>
      </div>
    </div>
  </div>

  <!-- xl -->
  <div id="fromto-xl" class="hidden xl:flex flex-row justify-between gap-[var(--xxl)] relative">
    <div data-aos="fade-right" class="flex flex-row justify-center min-w-[650px] min-h-[600px] rounded-[38px]" style={{backgroundImage: `url("/src/views/aboutus/FromTo/assets/1.png")`, backgroundSize: "cover", backgroundPosition: "center"}}></div>
    <div class="flex flex-row w-full items-center">
      <div id="fromto-xl-text-1" class="absolute flex flex-col justify-center gap-[var(--xl)]">
        <span data-aos="fade-down" class="font-semibold text-[55px] leading-[58px]">De <span class="text-[var(--primary)]">República Dominicana</span> Para El <span class="text-[var(--primary)]">Mundo</span></span>
        <p data-aos="fade-up" class="font-medium text-[30px] leading-[40px] text-justify">Krekeet es una agencia de comunicación digital especializada en diseño de experiencia del usuario con base en la república dominicana y socios estratégicos en latinoamérica, uSA, Europa y Asia.</p>
      </div>
      <div id="fromto-xl-text-2" class="absolute flex flex-col justify-center" style={{opacity: 0}}>
        <p data-aos="fade-up" class="font-medium text-[30px] leading-[40px] text-justify">Logrando avances con clientes internacionales y nacionales destacando, desarrollando estrategias y productos los cuales nos han permitido destacar en el mercado y lograr el éxito de nuestros clientes. Cada día nuestro equipo muestra lo mejor de su talento, pasión y eso de hacer las cosas mejor que los demás.</p>
      </div>
    </div>
  </div>
</section>

<script>
  import ScrollMagic from "scrollmagic";
  import { gsap } from "gsap";

  function getCurrentScale() {
    if (window.matchMedia("(min-width: 1280px)").matches) return "xl";
    if (window.matchMedia("(min-width: 1024px)").matches) return "lg";
    if (window.matchMedia("(min-width: 768px)").matches) return "md";
    if (window.matchMedia("(min-width: 640px)").matches) return "sm";
    return "default";
  }

  // Variable que contiene la escala actual para no crear a cada rato una scene
  let currentScale: string | null = null

  // Contenedor de Desde República Dominicada
  const fromto = document.querySelector("#fromto") as HTMLElement

  // Crear controlador de ScrollMagic
  const controller = new ScrollMagic.Controller();

  // Configurar la animación de los textos
  let scene: ScrollMagic.Scene | null = null;
  
  document.addEventListener("DOMContentLoaded", () => {
    currentScale = getCurrentScale()
    initScene(true)
  })
  window.addEventListener("resize", () => {initScene()})

  function initScene(init: boolean = false) {
    if (!init && currentScale === getCurrentScale()) {
      return
    } else {
      currentScale = getCurrentScale()
    }
    if (scene) {
      scene.destroy(true)
    }
    scene = new ScrollMagic.Scene({
      triggerElement: "#fromto", // Elemento donde se inicia la escena
      duration: "100%", // Duración de la pausa del scroll
      triggerHook: 0.50, // Punto de disparo (en este caso, en el centro)
      offset: (fromto.getBoundingClientRect().height / 2)
    })
    .setPin("#fromto") // Fija el elemento durante la duración
    .on("progress", () => {
      if (scene!.progress() > .5) {
        // Cambia al segundo texto cuando la escena empieza
        gsap.to(`#fromto-${getCurrentScale()}-text-1`, { opacity: 0, duration: 0.5, display: "none" });
        gsap.to(`#fromto-${getCurrentScale()}-text-2`, { opacity: 1, duration: 0.5, display: "flex" });
      }
    })
    .on("leave", () => {
      if (scene!.state() === "BEFORE") {
        gsap.to(`#fromto-${getCurrentScale()}-text-1`, { opacity: 1, duration: 0.5, display: "flex" });
        gsap.to(`#fromto-${getCurrentScale()}-text-2`, { opacity: 0, duration: 0.5, display: "none" });
      } else if (scene!.state() === "AFTER") {
        gsap.to(`#fromto-${getCurrentScale()}-text-1`, { opacity: 0, duration: 0.5, display: "none" });
        gsap.to(`#fromto-${getCurrentScale()}-text-2`, { opacity: 1, duration: 0.5, display: "flex" });
      }
      
    })
    .addTo(controller);

    if (scene.state() === "BEFORE" || (scene.state() === "DURING" && scene.progress() < 0.5)) {
      gsap.set(`#fromto-${getCurrentScale()}-text-1`, { opacity: 1, display: "flex" });
      gsap.set(`#fromto-${getCurrentScale()}-text-2`, { opacity: 0, display: "none" });
    } else {
      gsap.set(`#fromto-${getCurrentScale()}-text-1`, { opacity: 0, display: "none" });
      gsap.set(`#fromto-${getCurrentScale()}-text-2`, { opacity: 1, display: "flex" });
    }
  }

</script>