<section id="whyworkwithus" class="flex flex-col justify-center h-[795px] my-[var(--xxl)]">
  <!-- default -->
  <div id="whyworkwithus-default" class="sm:hidden md:hidden lg:hidden xl:hidden flex flex-col py-12">
    <div class="flex flex-col pb-10 gap-5">
      <span data-aos="fade-down" class="whyworkwithus-default-title-1 font-bold text-[35px] leading-[41px] text-left">¿Por qué?</span>
      <span data-aos="fade-right" class="whyworkwithus-default-title-2 font-bold text-[50px] leading-[45px] text-left">Trabajar con <span class="text-[var(--primary)]">Nosotros</span></span>
    </div>
    <div class="flex flex-row w-full justify-center items-center">
      <div data-aos="fade-up" class="relative flex flex-col w-full h-full">
        <p id="whyworkwithus-default-text-1" class="absolute font-normal text-[14px] leading-[27px] text-left">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</p>
        <p id="whyworkwithus-default-text-2" class="font-normal text-[14px] leading-[27px] text-justify">Ayudamos a las organizaciones a mejorar y potenciar sus productos, ventas, procesos e idear construyendo de la mano de nuestros clientes Growthpartner garantizando resultados y entregar más alla de las expectativas. </p>
      </div>
    </div>
  </div>

  <!-- sm -->
  <div id="whyworkwithus-sm" class="hidden sm:flex md:hidden flex-col py-12">
    <div class="flex flex-col pb-10 gap-5">
      <span data-aos="fade-down" class="whyworkwithus-default-title-1 font-bold text-[35px] leading-[42px] text-left">¿Por qué?</span>
      <span data-aos="fade-right" class="whyworkwithus-default-title-2 font-bold text-[48px] leading-[44px] text-left">Trabajar con <span class="text-[var(--primary)]">Nosotros</span></span>
    </div>
    <div class="flex flex-row w-full justify-center items-center">
      <div data-aos="fade-up" class="relative flex flex-col w-full h-full">
        <p id="whyworkwithus-sm-text-1" class="absolute font-normal text-[17px] leading-[30px] text-left">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</p>
        <p id="whyworkwithus-sm-text-2" class="font-normal text-[17px] leading-[30px] text-justify">Ayudamos a las organizaciones a mejorar y potenciar sus productos, ventas, procesos e idear construyendo de la mano de nuestros clientes Growthpartner garantizando resultados y entregar más alla de las expectativas. </p>
      </div>
    </div>
  </div>

  <!-- md -->
  <div id="whyworkwithus-md" class="hidden md:flex lg:hidden flex-col py-12">
    <div class="flex flex-col pb-10 gap-5">
      <span data-aos="fade-down" class="whyworkwithus-default-title-1 font-bold text-[35px] leading-[42px] text-left">¿Por qué?</span>
      <span data-aos="fade-right" class="whyworkwithus-default-title-2 font-bold text-[46px] leading-[43px] text-left">Trabajar con <span class="text-[var(--primary)]">Nosotros</span></span>
    </div>
    <div class="flex flex-row w-full justify-center items-center">
      <div data-aos="fade-up" class="relative flex flex-col w-full h-full">
        <p id="whyworkwithus-md-text-1" class="absolute font-normal text-[20px] leading-[33px] text-left">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</p>
        <p id="whyworkwithus-md-text-2" class="font-normal text-[20px] leading-[33px] text-justify">Ayudamos a las organizaciones a mejorar y potenciar sus productos, ventas, procesos e idear construyendo de la mano de nuestros clientes Growthpartner garantizando resultados y entregar más alla de las expectativas. </p>
      </div>
    </div>
  </div>

  <!-- lg -->
  <div id="whyworkwithus-lg" class="hidden lg:flex xl:hidden flex-col py-12 gap-[var(--xl)]">
    <div class="border border-b border-transparent flex flex-col pb-10 mb-10 gap-5">
      <span class="whyworkwithus-lg-title-1 font-bold text-[34px] leading-[44px] text-center">¿Por qué?</span>
      <span class="whyworkwithus-lg-title-2 font-bold text-[44px] leading-[41px] text-center">Trabajar con <span class="text-[var(--primary)]">Nosotros</span></span>
    </div>
    <div class="flex flex-row w-full justify-center items-center">
      <div id="whyworkwithus-lg-text-1" class="absolute flex flex-col gap-[var(--xl)]">
        <p class="font-normal text-[25px] leading-[40px] text-center">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</p>
      </div>
      <div id="whyworkwithus-lg-text-2" class="absolute flex flex-col" style={{opacity: 0}}>
        <p class="font-normal text-[25px] leading-[40px] text-center">Ayudamos a las organizaciones a mejorar y potenciar sus productos, ventas, procesos e idear construyendo de la mano de nuestros clientes Growthpartner garantizando resultados y entregar más alla de las expectativas. </p>
      </div>
    </div>
  </div>

  <!-- xl -->
  <div id="whyworkwithus-xl" class="hidden xl:flex flex-col py-12 gap-[var(--xl)]">
    <div class="border border-b border-transparent flex flex-col pb-10 mb-10 gap-5">
      <span class="whyworkwithus-xl-title-1 font-bold text-[34px] leading-[44px] text-center">¿Por qué?</span>
      <span class="whyworkwithus-xl-title-2 font-bold text-[44px] leading-[41px] text-center">Trabajar con <span class="text-[var(--primary)]">Nosotros</span></span>
    </div>
    <div class="flex flex-row w-full justify-center items-center">
      <div id="whyworkwithus-xl-text-1" class="absolute flex flex-col gap-[var(--xl)]">
        <p class="font-normal text-[25px] leading-[40px] text-center">Quiénes somos y qué nos convierte en un aliado estratégico con el cual trabajar</p>
      </div>
      <div id="whyworkwithus-xl-text-2" class="absolute flex flex-col" style={{opacity: 0}}>
        <p class="font-normal text-[25px] leading-[40px] text-center">Ayudamos a las organizaciones a mejorar y potenciar sus productos, ventas, procesos e idear construyendo de la mano de nuestros clientes Growthpartner garantizando resultados y entregar más alla de las expectativas. </p>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes expand-border {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }

  @keyframes expand-whyworkwithus-lg-title-1 {
    0% {
      font-size: 34px;
    }
    100% {
      font-size: 39px;
    }
  }

  @keyframes expand-whyworkwithus-lg-title-2 {
    0% {
      font-size: 44px;
    }
    100% {
      font-size: 65px;
    }
  }

  @keyframes expand-whyworkwithus-xl-title-1 {
    0% {
      font-size: 34px;
    }
    100% {
      font-size: 39px;
    }
  }

  @keyframes expand-whyworkwithus-xl-title-2 {
    0% {
      font-size: 44px;
    }
    100% {
      font-size: 65px;
    }
  }

  @keyframes fade-in-description {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-border-expand {
    position: relative;
  }

  .animate-border-expand::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--tw-border-opacity, var(--primary));
    transform: translateX(-50%);
    animation: expand-border 2s forwards;
  }
</style>

<script>
  // -------------------------------- //
  // Escena
  import ScrollMagic from "scrollmagic";
  import { gsap } from "gsap";

  function getCurrentScale() {
    if (window.matchMedia("(min-width: 1280px)").matches) return "xl";
    if (window.matchMedia("(min-width: 1024px)").matches) return "lg";
    if (window.matchMedia("(min-width: 768px)").matches) return "md";
    if (window.matchMedia("(min-width: 640px)").matches) return "sm";
    return "default";
  }

  // Variable que contiene la escala actual para no crear a cada rato una scene
  let currentScale: string | null = null

  // Contenedor de Desde República Dominicada
  const whyworkwithus = document.querySelector("#whyworkwithus") as HTMLElement

  // Crear controlador de ScrollMagic
  const controller = new ScrollMagic.Controller();

  // Configurar la animación de los textos
  let scene: ScrollMagic.Scene | null = null;
  
  document.addEventListener("DOMContentLoaded", () => {
    currentScale = getCurrentScale()
    initScene(true)
  })
  window.addEventListener("resize", () => {initScene()})

  function initScene(init: boolean = false) {
    if (!init && currentScale === getCurrentScale()) {
      return
    } else {
      currentScale = getCurrentScale()
    }
    if (scene) {
      scene.destroy(true)
    }
    scene = new ScrollMagic.Scene({
      triggerElement: "#whyworkwithus", // Elemento donde se inicia la escena
      duration: "100%", // Duración de la pausa del scroll
      triggerHook: 0.50, // Punto de disparo (en este caso, en el centro)
      offset: (whyworkwithus.getBoundingClientRect().height / 2)
    })
    .setPin("#whyworkwithus") // Fija el elemento durante la duración
    .on("progress", () => {
      if (scene!.progress() > .5) {
        // Cambia al segundo texto cuando la escena empieza
        gsap.to(`#whyworkwithus-${getCurrentScale()}-text-1`, { opacity: 0, duration: 0.5, display: "none" });
        gsap.to(`#whyworkwithus-${getCurrentScale()}-text-2`, { opacity: 1, duration: 0.5, display: "flex" });
      }
    })
    .on("leave", () => {
      if (scene!.state() === "BEFORE") {
        gsap.to(`#whyworkwithus-${getCurrentScale()}-text-1`, { opacity: 1, duration: 0.5, display: "flex" });
        gsap.to(`#whyworkwithus-${getCurrentScale()}-text-2`, { opacity: 0, duration: 0.5, display: "none" });
      } else if (scene!.state() === "AFTER") {
        gsap.to(`#whyworkwithus-${getCurrentScale()}-text-1`, { opacity: 0, duration: 0.5, display: "none" });
        gsap.to(`#whyworkwithus-${getCurrentScale()}-text-2`, { opacity: 1, duration: 0.5, display: "flex" });
      }
      
    })
    .addTo(controller);

    if (scene.state() === "BEFORE" || (scene.state() === "DURING" && scene.progress() < 0.5)) {
      gsap.set(`#whyworkwithus-${getCurrentScale()}-text-1`, { opacity: 1, display: "flex" });
      gsap.set(`#whyworkwithus-${getCurrentScale()}-text-2`, { opacity: 0, display: "none" });
    } else {
      gsap.set(`#whyworkwithus-${getCurrentScale()}-text-1`, { opacity: 0, display: "none" });
      gsap.set(`#whyworkwithus-${getCurrentScale()}-text-2`, { opacity: 1, display: "flex" });
    }
  }

  // -------------------------------- //
  // Expansión del texto
  let content_container = document.querySelectorAll("#whyworkwithus");
  if (content_container) {
    // Obtener los elementos
    let border = document.querySelectorAll(".border");
    let text_1 = document.querySelectorAll("[class*='whyworkwithus-'][class*='-title-1']");
    let text_2 = document.querySelectorAll("[class*='whyworkwithus-'][class*='-title-2']");
    // let description = document.querySelectorAll(".description");

    // Crea un nuevo Intersection Observer
    let observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          // Comprueba si el elemento es visible en pantalla
          if (entry.isIntersecting) {
            // In
            border.forEach(element => {
              (element as HTMLElement).classList.add("animate-border-expand");
            });
            text_1.forEach(element => {
              (element as HTMLElement).style.animation = `expand-${element.classList[0]} 2s forwards`
            });
            text_2.forEach(element => {
              (element as HTMLElement).style.animation = `expand-${element.classList[0]} 2s forwards`
            });
            // description.forEach(element => {
            //   (element as HTMLElement).style.animation = "fade-in-description 2s forwards"
            // });
          } else {
            // Out
            border.forEach(element => {
              (element as HTMLElement).classList.remove("animate-border-expand");
            });
            text_1.forEach(element => {
              (element as HTMLElement).style.animation = ""
            });
            text_2.forEach(element => {
              (element as HTMLElement).style.animation = ""
            });
            // description.forEach(element => {
            //   (element as HTMLElement).style.animation = ""
            // });
          }
        });
      },
      {
        threshold: 0.10,
      },
    );
    content_container.forEach(element => {
      observer.observe(element);
    });
  }
</script>