---
import type { HTMLAttributes } from "astro/types";
import Btn from "../../../../components/buttons/Btn/Btn.astro";
import GoToPage from "../../../../components/hyperlinks/GoToPage/GoToPage.astro";
import Logo from "../../../../components/logos/Logo/Logo.astro";
import Network from "../../../../components/navs/Network/Network.astro";
import { PAGES } from "../../../../pages/pages";
import lines from "./lines.svg";

interface Props extends HTMLAttributes<"nav"> {
  cls?: string;
}

const { cls } = Astro.props;

const { about, contact, index, perspective, products, work } = PAGES;
---

<nav id="nav" class:list={["nav", cls]}>
  <GoToPage href={index.path}><Logo /></GoToPage>
  <div id="navWrapper" class="wrapper">
    <div class="wrapper1">
      <GoToPage href={about.path}>{about.display}</GoToPage>
      <GoToPage href={work.path}>{work.display}</GoToPage>
      <GoToPage href={products.path}>{products.display}</GoToPage>
      <GoToPage href={perspective.path}>{perspective.display}</GoToPage>
    </div>
    <div class="wrapper2">
      <Network />
      <GoToPage href={contact.path}><Btn>{contact.display}</Btn></GoToPage>
    </div>
  </div>
  <picture id="menu" class="menu">
    <img id="menuImg" src={lines.src} alt="menu" />
  </picture>
</nav>

<script>
  import cross from "./cross.svg";
  import lines from "./lines.svg";

  const wrapper = document.querySelector("#navWrapper") as HTMLElement;
  const menu = document.querySelector("#menu") as HTMLElement;
  const menuImg = document.querySelector("#menuImg") as HTMLElement;
  const nav = document.querySelector("#nav") as HTMLElement;

  menu.addEventListener("click", () => {
    const currentSrc = menuImg.getAttribute("src");

    if (currentSrc === lines.src) {
      menuImg.setAttribute("src", cross.src);
    } else {
      menuImg.setAttribute("src", lines.src);
    }

    wrapper.classList.toggle("open");
  });

  document.addEventListener("scroll", () => {
    if (window.scrollY >= 111) {
      nav.style.borderRadius = "0 0 var(--br) var(--br)";
    } else {
      nav.style.borderRadius = "var(--br)";
    }
  });
</script>

<style>
  .nav {
    position: relative;
    max-width: var(--mw-layout);
    padding: var(--lg);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto 1fr;

    background: var(--primary);
    border-radius: var(--br);
    @media (max-width: 1150px) {
      border-radius: 0;
    }

    .menu {
      display: none;
    }

    .wrapper {
      display: flex;
      align-items: center;

      .wrapper1 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: var(--xl2);
      }

      .wrapper2 {
        display: flex;
        gap: var(--lg);
      }
    }

    @media (max-width: 1150px) {
      .menu {
        display: inline-block;
        width: 40px;
        margin-left: auto;
      }

      .wrapper {
        background-color: var(--bg-main);
        width: 100%;
        padding: var(--xl);

        position: absolute;
        top: calc(100% - 1px);
        left: 0;

        transition:
          transform 0.5s,
          opacity 0.2s;
        transform: translateY(-1000px);
        opacity: 0;

        display: grid;
        gap: var(--xl2);

        .wrapper1,
        .wrapper2 {
          display: grid;
        }

        .wrapper1 {
          margin: initial;
          gap: var(--lg);

          a {
            padding: var(--lg);
            position: relative;

            &::after {
              content: "";
              width: 100%;
              border: 1px solid var(--primary);
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }

        .wrapper2 {
          justify-self: center;
        }
      }

      .open {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
</style>
